@import "functions/material-color";
@import "mixins/gradient";

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;

  color: rgba(black, 0.85);
}

p {
  margin: 0 0 1.5rem;
}

.header {
  background-color: rgba(material-color(pink, A700), 0.85);
  color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;

  padding: 1rem;

  font-weight: 300;
  font-size: 2rem;

  box-shadow: 0 0 10px rgba(black, 0.25);
}

.splash-container {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 75vh;
  top: 0;
  left: 0;
  position: fixed;
  background: material-color(grey, 900) url("../assets/img/background.jpg")
    no-repeat center;
  background-size: cover;
}

.content-wrapper {
  position: absolute;

  left: 0;
  top: 75vh;
  width: 100%;
  min-height: 25vh;
  z-index: 2;
  background: material-color(blue-grey, 50);
  border-top: 1px solid material-color(pink, 50);
  box-shadow: 0 0 10px rgba(black, 0.25);
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  font-weight: 300;
  font-size: 1.375rem;
}

.embed {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
  border: 0;
}

%section {
  color: #fff;
  box-shadow: 0 0 10px rgba(black, 0.25);
}

.section-pink {
  @extend %section;
  @include inclined-gradient(
    material-color(pink, 600),
    material-color(pink, 300)
  );
}

.section-grey {
  @extend %section;
  @include inclined-gradient(
    material-color(grey, 700),
    material-color(grey, 600)
  );
}

.section-dark-grey {
  @extend %section;
  @include inclined-gradient(
    material-color(grey, 900),
    material-color(grey, 800)
  );
}

.footer {
  @extend %section;
  background: material-color(grey, 900);

  .content {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
}

%heading {
  margin: 0 0 1rem;
  font-weight: 400;
  color: material-color(pink, 500);

  .section-pink &,
  .section-grey & {
    color: material-color(grey, 50);
  }
}

h1 {
  @extend %heading;
  font-size: 2rem;
}

h2 {
  @extend %heading;
  font-size: 1.75rem;
}

h3 {
  @extend %heading;
  font-size: 1.5rem;
}

.strapline {
  font-size: 1.75rem;
  font-style: italic;
}

a {
  color: material-color(blue, 400);
  text-decoration: underline;

  &:hover {
    color: material-color(blue, 600);
  }
}

.emphasis {
  font-weight: 500;
  font-style: italic;
  border-left: 4px solid material-color(blue-grey, 600);
  padding-left: 1rem;
}

.section-header {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.hat-milliner {
  font-style: italic;
  color: material-color(blue-grey, 50);

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.carousel {
  padding-bottom: 1rem;
}

.carousel img {
  display: block;
  height: 300px;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 450px;
  }
}

.flickity-page-dots {
  bottom: 1.5rem;
}
